# Ignore large dataset files (but allow our project dataset)
*.csv
!synthetic_hcp_pharma.csv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignore python caches and virtual environments
__pycache__/
*.pyc
.env
venv/
.streamlit/
